* {
    margin: 0;
    top: 0;
    box-sizing: border-box;
    left: 0;
}
body{
    min-width: 800px;
}
.container {
    /* border: solid 1px black; */
    margin-top: 5%;
    min-height: 80vh;
    background-image: url(template.png);
    background-repeat: no-repeat;
    background-size: 1000px 700px;
    background-position: center center;
    overflow-y: hidden;
    -webkit-print-color-adjust: exact; /* Ensure background image/color in WebKit browsers */
    print-color-adjust: exact; /* Ensure background image/color in other browsers */
}

#title, #name, #dimensions, #medium, #year {
    position: fixed;
    font-size: 1.5em;
    width: 40%;
    height: 4%;
    /* border: solid 1px black; */
}

/* Individual positioning */
#title {
    top: 41.4%;
    left: 33%;
}

#name {
    top: 48%;
    left: 31%;
}

#dimensions {
    top: 54.5%;
    left: 31%;
}

#medium {
    top: 61.2%;
    left: 29%;
}

#year {
    top: 67.6%;
    left: 33%;
}

/* Print-specific rules */
@media print {
    body {
        background-image: url(template.png); /* Ensure background image is applied during print */
        background-size: 1000px 700px;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    /* Optional: You may want to adjust the layout slightly for print */
    #title, #name, #dimensions, #medium, #year {
        font-size: 1.3em; /* Slightly adjust font size for print */
    }
}
